h1,
.h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.emphasize-text {
  font-size: 2em;
  padding-left: 5px;
  padding-right: 5px;
  color: lightgray;
}

.pic-style {
  padding-left: 70px;
}

@media (max-width: 500px) {
  .pic-style {
    padding-left: 0px;
  }
}

.card-padding {
  padding: 0.75rem 1.25rem;
}

.card {
  height: 200px;
}

.card-header {
  height: 50px;
}
