
  
  .navbar-brand {
    font-weight: bold
  }

  .spacer {
    background-color: black;
    height: 50px;
    margin-bottom: 0px;
  }

  .spacerBeige {
    background-color: beige;
    height: 50px;
    margin-bottom: 0px;
  }

  .navbar {
    background-color: #f5f5f5;
  }
  
  .navbar .navbar-nav li a {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    color: #0A0A0A;
  }

.fa-facebook-f:before, .fa-facebook:before {
    content: "\F09A";
    color: #3b5999;
  }

.fa-twitter:before {
    content: "\F099";
    color: #55acee;
}
.fa-youtube:before {
    content: "\F167";
    color: #cd201f;
}

.fa-linkedin:before {
    content: "\F0E1";
    color: #0077B5;
}