<app-alert></app-alert>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <hr>
    </div>
    <div class="col-sm-12 col-md-4 align-center">
        <legend>Work</legend>
    </div>
    <div class="col-sm-12 col-md-4">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 padding-left-and-right text-justify text-add-line-height">
        I have been working in information technology for over 15 years and I currenlty work as a Senior Application Developer for
        a large financial firm. I design and develop software, research technology components and recommend solutions. My
        focus is primarily on solving complex technology dependent problems and looking at different ways to solve a problem,
        calculating the risks and providing the best solution. My latest interest has been working on emerging Web Technologies
        and desiging and building responsive single page appications.
        <br>
        <br> I have a bachelor's degree in Computer Science from Wayne State Univeristy. I recently completed the Expert Engineer
        program for a firm that I worked for. This is a specific program which only 10% of technologists have completed the
        program. It is a technology leadership program which equips high performing technologists with the skills needed
        to solve complex technology driven business problems. I am an active particpant in many outside technology user groups
        and have been on the executive board for the Chicago Java Users Group and the Illinois Java Users Group. I enjoy
        learning new technologies and leading and mentoring others. I am currently involved in a program which involves
        mentoring collegiate students for a high school in Dallas.
        <br>
        <br> I designed this website as part of my portfolio in order to showcase some of my work. This responsive 
        website was developed
        using Angular 4/Bootstrap 4 and is running on Google Cloud. It has a serverless backend and uses AWS Web Services
        to read and write data to DynamoDB. 
        <br>
        <br><a href="https://github.com/jennyphan" target="_blank">Github</a>
        <br><a href="https://www.linkedin.com/in/jenny-phan-3911031/" target="_blank">Linkedin</a>
    </div>
</div>