<div class="row">
        <div class="col-sm-12 col-md-7 order-sm-5">
                <img src="/assets/img/me1Smaller.jpg" class='img-fluid' alt="Jenny">
            </div>
    <div class="col-sm-12 col-md-5 spaceTop mb-3">
        <div class="card">
            <div class="card-block text-center">
                <h4>Some men have thousands of</h4>
                <h4>reasons why they cannot</h4>
                <h4> do what they want to, when all </h4>
                <h4> they need is one </h4>
                <h4> reason why they can.</h4>
                <br>Martha Graham
            </div>
        </div>
    </div>

   
</div>